{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="main-content">
            <h2>친구에게 정말 딱맞는 선물을 주고 싶은데<br>아직 선물을 정하지 못하셨나요?</h2>
            <h4>'서비스명'에게 맡겨주세요!</h4>
            <p>대화 내용 분석을 통한 맞춤 선물 추천 서비스<br></p>
            <button type="button" class="btn btn-outline-light">대화 내용 분석 시작</button>
        </div>
        <div class = 'img_area'>
            <img src="static\img\홈페이지 그림.png" alt="img">
        </div>
    </div>
    <div class="introduce">
        <p>서비스 소개</p>
    </div>
{% endblock content%}