{% extends "layout.html" %} {% load static %}
{% block title %}당선{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'chat/detail.css' %}" />
    <div class="container">
        <div class="main-content">
            <h2>지인에게 정말 딱맞는 선물을 주고 싶은데<br>아직 선물을 정하지 못하셨나요?<br>'당선'에게 맡겨주세요!</h2>
            <p>선물 추천 자동화 서비스<br>당신을 위한 선물 추천서비스, 당선</p>
            <a href = "{% url 'login' %}"><button type="button" class="btn btn-outline-light">서비스 시작</button></a>
        </div>
        <div class = 'img_area'>
            <img src="static\img\홈페이지 그림.png" alt="img">
        </div>
    </div>
    <div class="introduce">
        <p><strong>선물 추천 서비스 '당선'</strong>은 바쁜 현대인들의 선물 탐색 시간 단축이라는 목표하에 기획된 서비스입니다.<br>
        지인에게 '당선'챗봇을 보내시면 '당선'챗봇이 대신 알아보고 적절한 선물을 추천해드립니다.</p>
    </div>
    <div class = "int_wrap">
        <div class = "procedure1">
            <img src='static\img\img.png' alt="img3">
            <p><span class="chapter">chapter 1</span><br>선물 주고 싶은 지인을 선택하여 챗봇을 보내주세요.</p>
        </div>
        <div class = "procedure2">
            <img src='static\img\img.png' alt="img3">
            <p><span class="chapter">chapter 2</span><br>'당선'챗봇이 대신 지인과 대화를 시작합니다.<br>채팅방에서 챗봇과 지인의 대화를 확인하실 수 있습니다.</p>
        </div>
        <div class = "procedure3">
            <img src='static\img\img.png' alt="img3">
            <p><span class="chapter">chapter 3</span><br>대화 분석을 마친 '당선'챗봇이 여러분에게 <br>지인 맞춤 선물 리스트를 제공해 드립니다.<br></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elements = document.querySelectorAll('.introduce, .procedure1, .procedure2, .procedure3');
        
            function checkVisibility() {
                elements.forEach(function (elem) {
                    // 요소가 화면에 보일 때
                    if (elem.getBoundingClientRect().top < window.innerHeight && elem.getBoundingClientRect().bottom > 0) {
                        elem.classList.add('show-on-scroll');
                    } else {
                        // 요소가 화면에서 벗어날 때
                        elem.classList.remove('show-on-scroll');
                    }
                });
            }
        
            // 스크롤 이벤트 리스너와 최초 로딩시 가시성 체크
            window.addEventListener('scroll', checkVisibility);
            checkVisibility();
        });
        
    </script>
{% endblock content%}