{% extends "layout_after_login.html" %}

{% load static %}

{% block extrahead %}
<head>
  <meta charset="utf-wishlist-title="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Custom Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

  <!-- Bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>
{% endblock extrahead %} 

{% block content %}
<link rel="stylesheet" href="{% static 'chat/friend_profile.css' %}" />

<!-- 챗봇에 넘길 데이터 및 챗봇 보내기-->
<div id="giftModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>선물 선택 도우미</h2>

    <form id="giftForm"  action="{% url 'chat:testing' %}" method="post">
      {% csrf_token %}
      <!-- Occasion Selection -->
      <label for="occasion">기념일:</label>
      <select iwishlist-title="occasion" name="occasion" id="occasion">
        <option value="birthday">생일</option>
        <option value="parents_day">어버이날</option>
        <option value="graduation">졸업축하</option>
        <option value="housewarming">집들이</option>
        <option value="christmas">크리스마스</option>
        <option value="anniversary">기념일</option>
        <option value="valentines">발렌타인</option>
      </select>

      <!-- Date Picker for Birthday -->
      <div id="birthdayPicker" class="date-picker hidden">
        <label for="birthdayDate">생일 날짜:</label>
        <input type="date" id="bwishlist-title="birthdayDate">
      </div>

      <!-- Relationship Selection -->
      <label for="relationship">관계:</label>
      <select id="rwishlist-title="relationship" name="relationship" id="relationship">
        <option value="family">가족</option>
        <option value="friend">친구</option>
        <option value="colleague">동료</option>
        <!-- Add more options as needed -->
      </select>

      <!-- Additional Information -->
      <label for="budget">예산:</label>
      <div id="budget" style="display:flex; justify-content:space-between; align-items:center; text-align:justify; margin-right:100px; margin-left:100px;">
        <div>
          <input type="number" id="minAmount" placeholder="최소금액" step="1000">
          <span>원</span>
        </div>
        <span>   ~   </span>
        <div>
          <input type="number" id="maxAmount" placeholder="최대금액" step="1000">
          <span>원</span>
        </div>
      </div>

      <label for="additionalInfo">추가 정보:</label>
      <textarea id="addwishlist-title="additionalInfo" name="additionalInfo" id="additionalInfo" placeholder="예산, 선물의 분위기 등..."></textarea>
      <input type="hidden" name="friend_id" value="{{ friend_id }}">
      <!-- Submit Button -->
      <button type="submit" class="btn">제출</button>

    </form>
  </div>
</div>

<!-- 유저 정보 들어가는 곳-->
<div class="container">
  <div class="profile">
    <div class="profile-image">
      <img src="{{ user.profile_image.url }}" alt="Profile Image">
    </div>
    <h1 class="profile-title">{{user.username}}</h1>
    <div class="profile-user-settings">
      <!-- 친구 요청 버튼 (친구가 아닐 경우에만 표시) -->
      {% if not is_friend %}
      <button class="btn" id="followBtn" data-user-id="{{ user.id }}">팔로우</button>
      {% endif %}
      
      <!-- Hidden buttons, to be displayed after follow (친구인 경우에만 표시) -->
      {% if is_friend %}
      <button class="btn" id="findGiftBtn">선물 알아내기</button>
      <button class="btn" id="unfollowBtn">팔로우 취소</button>
      {% endif %}
    </div>
    <div class="profile-bio">
      <wishlist-title">여기에는 자기소개를 넣습니다...<//p>
    </div>
  </div>
</div>
<!-- 위시리스트-->
<main>
<div class="container">
  <div class="gallery">
    <div class="gallery-item" tabindex="0">
      <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">
      <div class="gallery-item-info">
        <ul>
          <li class="wishlist-title">상품명: 자유여행 패키지</li>
          <li class="gallery-item-price">가격: 126,000원</li>
        </ul>
      </div>
    </div>
    <div class="gallery-item" tabindex="0">
      <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop" class="gallery-image" alt="">
      <div class="gallery-item-info">
        <ul>
          <li class="wishlist-title">Likes: 89</li>
          <li class="wishlist-title">Likes: 89</li>
          <li class="gallery-item-price">Comments: 5</li>
        </ul>
      </div>
    </div>
    <div class="gallery-item" tabindex="0">
      <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop" class="gallery-image" alt="">
      <div class="gallery-item-info">
        <ul>
          <li class="wishlist-title">Likes:42</li>
          <li class="gallery-item-price">Comments: 1</li>
        </ul>
      </div>
    </div>
    <div class="gallery-item" tabindex="0">
      <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop" class="gallery-image" alt="">
      <div class="gallery-item-info">
        <ul>
          <li class="wishlist-title">Likes:38</li>
          <li class="gallery-item-price">Comments: 0</li>
        </ul>
      </div>
    </div>
    <div class="gallery-item" tabindex="0">

      <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop" class="gallery-image" alt="">


      <div class="gallery-item-info">

        <ul>
          <li class="wishlist-title">Likes:47</li>
          <li class="gallery-item-price">Comments: 1</li>
        </ul>

      </div>

    </div>

    </div>

  </div>
  <!-- End of gallery -->


</div>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/friend_profile.js' %}"></script>
{% endblock content%}
