{% extends "layout_after_login.html" %}

{% load static %}

{% block extrahead %}
<head>
  <meta charset="utf-wishlist-title="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Custom Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

  <!-- Bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>
{% endblock extrahead %} 

{% block content %}
<link rel="stylesheet" href="{% static 'chat/friend_profile.css' %}" />

<!-- 챗봇에 넘길 데이터 및 챗봇 보내기-->
<div id="giftModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>선물 선택 도우미</h2>

    <form id="giftForm"  action="{% url 'chat:giftform' %}" method="post">
      {% csrf_token %}
      <!-- Occasion Selection -->
      <label for="occasion">기념일:</label>
      <select iwishlist-title="occasion" name="occasion" id="occasion">
        <option value="birthday">생일</option>
        <option value="parents_day">어버이날</option>
        <option value="graduation">졸업축하</option>
        <option value="housewarming">집들이</option>
        <option value="christmas">크리스마스</option>
        <option value="anniversary">기념일</option>
        <option value="valentines">발렌타인</option>
      </select>

      <!-- Date Picker for Birthday -->
      <div id="birthdayPicker" class="date-picker hidden">
        <label for="birthdayDate">생일 날짜:</label>
        <input type="date" id="bwishlist-title="birthdayDate">
      </div>

      <!-- Relationship Selection -->
      <label for="relationship">관계:</label>
      <select id="rwishlist-title="relationship" name="relationship" id="relationship">
        <option value="family">가족</option>
        <option value="friend">친구</option>
        <option value="colleague">동료</option>
        <!-- Add more options as needed -->
      </select>

      <!-- Additional Information -->
      <label for="budget">예산:</label>
      <div id="budget" style="display:flex; justify-content:space-between; align-items:center; text-align:justify; margin-right:100px; margin-left:100px;">
        <div>
          <input type="number" name="minAmount" id="minAmount" placeholder="최소금액" step="1000">
          <span>원</span>
        </div>
        <span>   ~   </span>
        <div>
          <input type="number" name = 'maxAmount' id="maxAmount" placeholder="최대금액" step="1000">
          <span>원</span>
        </div>
      </div>

      <label for="additionalInfo">추가 정보:</label>
      <textarea id="addwishlist-title="additionalInfo" name="additionalInfo" id="additionalInfo" placeholder="예산, 선물의 분위기 등..."></textarea>
      <input type="hidden" name="friend_id" value="{{ user.id }}">
      <!-- Submit Button -->
      <button type="submit" class="btn">제출</button>

    </form>
  </div>
</div>

<!-- 유저 정보 들어가는 곳-->
<div class="container">
  <div class="profile">
    <div class="profile-image">
      <img src="{{ user.profile_image.url }}" alt="Profile Image">
    </div>
    <h1 class="profile-title">{{user.username}}</h1>
    <div class="profile-user-settings">
      <!-- 친구 요청 버튼 (친구가 아닐 경우에만 표시) -->
      {% if not is_friend %}
      <button class="btn" id="followBtn" data-user-id="{{ user.id }}">팔로우</button>
      {% endif %}
      
      <!-- Hidden buttons, to be displayed after follow (친구인 경우에만 표시) -->
      {% if is_friend %}
      <button class="btn" id="findGiftBtn">선물 알아내기</button>
      <button class="btn" id="unfollowBtn">팔로우 취소</button>
      {% endif %}
    </div>
    <div class="profile-bio">
      <wishlist-title">인테리어, 인테리어 소품 좋아합니다.<//p>
    </div>
  </div>
</div>
<!-- 위시리스트-->
<main>
  <div class="container">
    <div class="gallery">
      <div class="gallery-item" tabindex="0">
        <img src="https://sitem.ssgcdn.com/39/48/06/item/1000542064839_i1_1100.jpg" class="gallery-image" alt="">
        <div class="gallery-item-info">
          <ul>
            <li class="wishlist-title">상품명: 헤디슨 방향제 선물세트 집들이 선물 탈취제 프리미엄 디퓨저 200ml 2종 택1</li>
            <li class="gallery-item-price">가격: 21,250 원</li>
          </ul>
        </div>
      </div>
      <div class="gallery-item" tabindex="0">
        <img src="https://sitem.ssgcdn.com/24/56/71/item/1000570715624_i1_1100.jpg" class="gallery-image" alt="">
        <div class="gallery-item-info">
          <ul>
            <li class="wishlist-title">상품명: 바다 그림 캔버스 액자 10종 인테리어 그림 개업 선물 여름 물멍 물그림</li>
            <li class="gallery-item-price">가격: 28,900 원</li>
          </ul>
        </div>
      </div>
      <div class="gallery-item" tabindex="0">
        <img src="https://th.bing.com/th/id/R.2b15bf8a81ae58a63da4cf99b7938e55?rik=vZk3uUDNnI4N3w&riu=http%3a%2f%2fblogthumb2.naver.net%2f20091104_137%2fwizardkyn_1257346209915oKyXv_jpg%2fmapae_o5_f_wizardkyn.jpg%3ftype%3dw2&ehk=zIc1s1EuYj2OfblJ5BMsd1%2fZug9s0b2kXCdy%2beX46aQ%3d&risl=&pid=ImgRaw&r=0" class="gallery-image" alt="">
        <div class="gallery-item-info">
          <ul>
            <li class="wishlist-title">상품명: 암행어사 마패</li>
            <li class="gallery-item-price">가격: 39,900 원</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End of gallery -->


</div>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/friend_profile.js' %}"></script>
{% endblock content%}
