{% extends "layout_after_login.html" %}

{% load static %}

{% block extrahead %}
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>당선</title>

  <!-- Custom Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet"
  />
  <!-- Bootstrap icons-->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
{% endblock extrahead %} {% block content %}
<link rel="stylesheet" href="{% static 'chat/styles_chat.css' %}" />


<body class="d-flex flex-column h-100">
  <div class="wrapper">
    <div class="container">
      <div class="left">
        <div class="top">
          <input class='search' type="text" id="searchInput" placeholder="친구 검색" onkeyup="searchFriends()">
        </div>
        <ul class="people">
          {% if has_chat_gift_request  %}
            {% for gift_request in gift_requests  %}
              <li class="person" data-chat="person{{ gift_request.id }}">
                  <img src="media\profile_images\president.png" alt=""/>
                  <span class="name"> 윤석열 </span> <!-- 예시: 선물 요청자 이름 -->
                  <span class="time"> 용산의 시간 </span> <!-- 예시: 요청 시간 -->
                  <span class="preview"> 대통령 대국민 담화 </span> <!-- 예시: 요청 메시지 -->
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>

      <div class="right">
        <div class="top">
          <span><span class="name"></span></span>
        </div>

<!-- give_chat.html -->
          {% if has_chat_gift_request %}
          {% for gift_request in gift_requests %}
          <div class="chat" data-chat="person{{ gift_request.id }}">
            <div class="conversation-start">
              <span>Today, 2:58 PM</span>
            </div>
            <div class="bubble you">
              안녕하세요!  친구 {{ gift_receiver_usernames.1 }}님을 위한 선물 추천 리스트 입니다. 
            </div>


            <div id="product-container">

          <!-- Product 1 -->
            <div class="product">
              <div class = "up_area">
                <img src="https://sitem.ssgcdn.com/47/05/22/item/1000569220547_i1_1100.jpg">
              </div>
              <div class = "bottom_area">
                <a href = 'https://emart.ssg.com/item/itemView.ssg?itemId=1000569220547&siteNo=6001&salestrNo=6005&tlidSrchWd=%EB%B2%A0%EC%9D%B4%EC%A7%80%20%EB%9F%AC%EA%B7%B8&srchPgNo=1'><p>도톰하고 부드러운 페이크퍼 원형 러그 베이지</p></a> 
                <p class="price">37,430원</p>
              </div>
            </div>
            
             <!-- Product 2 -->
             <div class="product">
              <div class = "up_area">
                <img src="https://sitem.ssgcdn.com/35/27/69/item/1000019692735_i1_1100.jpg">
              </div>
              <div class = "bottom_area">
                <a href = 'https://emart.ssg.com/item/itemView.ssg?itemId=1000019692735&siteNo=6001&salestrNo=6005&tlidSrchWd=%EB%B2%A0%EC%9D%B4%EC%A7%80%20%EB%9F%AC%EA%B7%B8&srchPgNo=1'><p>루블린 샤기 러그 베이지(한평)</p></a> 
                <p class="price">95,400원</p>
              </div>
            </div>

             <!-- Product 3 -->
             <div class="product">
              <div class = "up_area">
                <img src="https://sitem.ssgcdn.com/53/74/55/item/1000059557453_i1_1100.jpg">
              </div>
              <div class = "bottom_area">
                <a href = 'https://emart.ssg.com/item/itemView.ssg?itemId=1000059557453&siteNo=6001&salestrNo=6005&tlidSrchWd=%EB%B2%A0%EC%9D%B4%EC%A7%80%20%EB%9F%AC%EA%B7%B8&srchPgNo=1'><p>모로코 사이잘룩 러그[아이보리/베이지] 반평</p></a> 
                <p class="price">62,300원</p>
              </div>
            </div>

          </div>
          </div>
          {% endfor %}
          {% endif %}




        <div class="write">
          <input type="text" id="message" />
          <button class="write-link smiley" id="emoji_btn"></button>
          <a class="write-link send"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- emoji-picker JS-->
  <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
  <script src="{% static 'js/chat.js' %}"></script>

  {% endblock content%}
</body>