{% extends "layout_after_login.html" %}

{% load static %}

{% block extrahead %}
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>당선</title>

  <!-- Custom Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet"
  />
  <!-- Bootstrap icons-->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
{% endblock extrahead %} {% block content %}
<link rel="stylesheet" href="{% static 'chat/styles_chat.css' %}" />

<!-- 친구 요청 알림 버튼과 드롭다운 -->
<div id="friendRequestAlertContainer" class="friend-request-alert-container">
  <button id="friendRequestAlert" class="btn hidden">새로운 알림이 있습니다!</button>
  <div id="friendRequestsDropdown" class="friend-requests-dropdown hidden">
      <div id="friendRequestsList"></div>
  </div>
</div>



<body class="d-flex flex-column h-100">
  <div class="wrapper">
    <div class="container">
      <!-- 친구 목록 및 대화기록이 살짝 나오고 검색기능이 있다 -->
      <div class="left">
        <div class="top">
          <input class='search' type="text" id="searchInput" placeholder="친구 검색" onkeyup="searchFriends()">
        </div>
        <ul class="people">
          {% if has_chat_gift_request  %}
            {% for gift_request in gift_requests  %}
              <li class="person" data-chat="person{{ gift_request.id }}">
                <img src="/media/profile_images/president.png" alt=""/>
                  <span class="name"> 윤석열 </span> <!-- 예시: 선물 요청자 이름 -->
                  <span class="time"> 용산의 시간 </span> <!-- 예시: 요청 시간 -->
                  <span class="preview"> 대통령 대국민 담화 </span> <!-- 예시: 요청 메시지 -->
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>

      <!-- 채팅 화면이 보여야 한다잉 -->
      <div class="right">
        <div class="top">
          <span><span class="name"></span></span>
        </div>
        <div class="chat" id="defaultMessage">
          <p>채팅을 시작해보세요!</p>
        </div>
        <!-- 챗봇 확인 용 -->
        <!-- <div class="chat" data-chat="person1">
          <div class="conversation-start">
            <span>Today, 2:58 PM</span>
          </div>
          <div class="bubble you">안녕하세요! 너님을 위한 선물을 준비하고 있는 사람이 있어요. 어떤 종류의 선물을 원하시나요? 예를 들어 음악, 여행, 요리 등 다양한 분야가 있으니까요. 어떤 물건이 가장 원하시는지 알려주세요!</div>
        </div> -->
        <!-- 챗봇 확인 용 -->
        {% if has_chat_gift_request  %}
        {% for gift_request in gift_requests  %}
        <div class="chat" data-chat="person{{ gift_request.id }}">
          <div class="conversation-start">
            <span>Today, 2:58 PM</span>
          </div>
          <div class="bubble you">안녕하세요! {{ username }}님을 위한 선물을 준비하고 있는 사람이 있어요. 어떤 종류의 선물을 원하시나요? 예를 들어 음악, 여행, 요리 등 다양한 분야가 있으니까요. 어떤 물건이 가장 원하시는지 알려주세요!</div>
        </div>
        {% endfor %}
        {% endif %}

        <form>
          {%csrf_token%}
        <div class="write">
          <input type="text" id="message" />
          <button class="write-link smiley" id="emoji_btn"></button>
          <a class="write-link send"></a>
        </div>
      </form> 
    </div>
  </div>
    
  </div>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- emoji-picker JS-->
  <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
  <script src="{% static 'js/chat.js' %}"></script>

  {% endblock content%}
</body>