{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="{% static 'css/forgotID.css' %}">
</head>
<body>
    <main class="contents">
        <div class=head-wrap>
            <div class="title">
                <h3>비밀번호 찾기</h3>
            </div>
            <div class = "description">
                <p>회원정보에 등록한 아이디와 이메일 주소를 입력해주세요.</p>
            </div>
        </div>
        <section class="wrap">
            <div class="-wrap">
                <div class="attr-wrap">
                    <label>ID</label>
                    <br>
                    <input id="ID" type="text" placeholder="ID를 입력해 주세요.">
                    <br><br>
                    <label>Email</label><br>
                    <input id="email" type="text" placeholder="Email를 입력해 주세요.">
                    <button id="auth-btn" type="button" name="button">인증번호 받기</button>
                    <input id="auth" type="text" placeholder="인증번호를 입력해 주세요.">
                </div>
                <hr>
            </div>
            <button id="IDsearch-btn" type="button" name="button">비밀번호 찾기</button>
            <div class="find-wrap">
                <ul>
                    <li><a href="{% url 'forgotID' %}">아이디 찾기</a></li>
                    <li>|</li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    <li>|</li>
                    <li><a href="{% url 'signup' %}">회원가입</a></li>
                    <li>|</li>
                    <li><a href="{% url 'chat:detail' %}">HOME</a></li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>
