{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <header>
        <div class="title">
            <a href="{% url 'chat:chat' %}">서비스명</a>
        </div>
    </header>
    <main class="contents">
        <section class="wrap">
            {% if messages %}
            <div>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label class = {{field.id_for_label}}>{{field.label}}</label>
                    <input type="{{field.field.widget.input_type}}" class = "form-control" id="{{field.id_for_label}}"
                    placeholder="{{field.label}}를 입력해주세요." name="{{field.name}}">
                </div><hr>
                {% endfor %}
                <button id="login-btn" type="submit">로그인</button>
            </form>
            <div class = 'find-wrap'>
                <ul>
                    <li><a href="{% url 'forgotpw' %}">비밀번호 찾기</a></li>
                    <li>|</li>
                    <li><a href="{% url 'forgotID' %}">아이디 찾기</a></li>
                    <li>|</li>
                    <li><a href="{% url 'signup' %}">회원가입</a></li>
                </ul>
            </div>
            {% load socialaccount %}
            <a href="{% provider_login_url 'kakao' method='oauth2' %}">
            카카오톡 회원가입
            </a>
        </section>
    </main>
</body>
</html>