{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원가입</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
    </head>
    <body>
        <div class = "wrap">
            <header>
                <div class="title">
                    <a href="{% url 'chat:chat' %}">서비스명</a>
                </div>
            </header>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- 주소  api -->

                <input type="text" name="address_detail" />
                <button id="address_kakao" type="button">주소 검색</button>
                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                window.onload = function(){
                    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                        //카카오 지도 발생
                        new daum.Postcode({
                            oncomplete: function(data) { //선택시 입력값 세팅
                                // 'address' 필드가 Django 폼에 정의되어 있고, 여기에 ID가 할당되어 있어야 함
                                document.querySelector("input[name='address']").value = data.address; // 주소 넣기
                                document.querySelector("input[name='address_detail']").focus(); //상세입력 포커싱
                            }
                        }).open();
                    });
                }
                </script>
            
                
                <button type="submit">회원가입</button>
            </form>            
        </div>
    </body>
</html>
