{% extends "layout_after_login.html" %}{% load static %} 
{% block title %}질문게시판{% endblock %}
{% block content %}
<script>
    function validateSearch() {
        var searchText = document.getElementById('search-query').value;
        if (searchText.length < 2) {
            alert("검색어는 최소 2글자 이상이어야 합니다.");
            return false;
        }
        return true;
    }
</script>
<link rel="stylesheet" href="{% static 'forum/board.css' %}"/>
<h2 class='notice_h2'>문의게시판</h2>
<div class = 'borad_section'>
    <div class= 'board_section2'>
            <section id="search-box">
                <form action="{% url 'forum:search'%}" method="GET" onsubmit="return validateSearch()">
                    <div class = 'search-box_in'>
                        <input type="text" id="search-query" placeholder="검색어 입력" name="q" value="{{ q }}">
                        <button class = "search-query-btn1" type="submit">검색</button>
                        <a class = "write" href="{% url 'forum:mypost'%}"><button class = "search-query-btn2" type="button">나의 글 보기</button></a>
                        <a class = "write" href="{% url 'forum:create'%}"><button class = "search-query-btn3" type="button">글 작성</button></a>
                    </div>
                </form>
            </section>
            <section id="notice-board">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>작성일자</th>
                            <th>답변여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles.object_list %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td><a href="{% url 'forum:read' article.pk %}">{{ article.title }}</a></td>
                            <td>{{ article.user }}</td>
                            <td>{{ article.views }}</td>
                            <td>{{ article.created_at }}</td>
                            <td>
                                {% if article.is_answered %}
                                    답변완료
                                {% else %}
                                    답변 대기 중
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- 페이징 버튼 -->
                <div id="pagination" style="text-align: center; margin-top: 20px;">
                    <ul class="pagination">
                        {% if articles.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.previous_page_number }}" tabindex="-1">이전</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">이전</a>
                            </li>
                        {% endif %}

                        {% for page in articles.page_range %}
                            <li class="page-item {% if page == articles.number %} activate {% endif %}">
                                <a class="page-link" href="?page={{ articles.number }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if articles.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles.next_page_number }}">다음</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">다음</a>
                            </li>
                        {% endif %}
                    </ul>
            </div>
            </section>    
    </div>
</div>


{% endblock content%}

{% comment %} {% for article in articles %}
<p> 글 번호 : {{article.id}}</p>
<a href ="{% url 'forum:read' article.pk %}"><p> 글 제목 : {{article.title}}</p></a>
<p> 작성자 : {{article.user}} </p>
<p> 조회수: {{ article.views }}</p>
<p> 작성일자 : {{article.created_at}} </p>
{% if article.is_answered %}
    <p>답변완료</p>
{% else %}
    <p>답변 대기 중</p>
{% endif %}
<hr>
{% endfor %} {% endcomment %}