{% extends "layout_after_login.html" %}{% load static %} 
{% block title %}질문게시판{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/board.css' %}"/>
<h4 class='notice_h2'>문의게시판</h4>
<div class = 'borad_section'>
    <div class= 'board_section2'>
            <section id="search-box">
                <form action="{% url 'forum:search'%}" method="GET">
                    <div class = 'search-box_in'>
                        <input type="text" id="search-query" placeholder="검색어 입력" name="q" value="{{ q }}">
                        <button class = "search-query-btn1" type="submit">검색</button>
                        <a class = "write" href="{% url 'forum:mypost'%}"><button class = "search-query-btn2" type="button">내가 쓴 글</button></a>
                        <a class = "write" href="{% url 'forum:create'%}"><button class = "search-query-btn3" type="button">글 작성</button></a>
                    </div>
                </form>
            </section>
            <section id="notice-board">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>작성일자</th>
                            <th>답변여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td><a href="{% url 'forum:read' article.pk %}">{{ article.title }}</a></td>
                            <td>{{ article.user }}</td>
                            <td>{{ article.views }}</td>
                            <td>{{ article.created_at }}</td>
                            <td>
                                {% if article.is_superuser %}
                                    답변완료
                                {% else %}
                                    답변 대기 중
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- 페이징 버튼 -->
                <div id="pagination" style="text-align: center; margin-top: 20px;">
                    <a href="?page=1"><</a>
                    <!-- 실제 웹 애플리케이션에서는 이 부분이 동적으로 생성되어야 합니다. -->
                    <a href="?page=1">1</a>
                    <a href="?page=2">2</a>
                    <!-- 추가 페이지 링크 -->
                    <a href="?page=2">></a>
                </div>
            </section>    
    </div>
</div>


{% endblock content%}

{% comment %} {% for article in articles %}
<p> 글 번호 : {{article.id}}</p>
<a href ="{% url 'forum:read' article.pk %}"><p> 글 제목 : {{article.title}}</p></a>
<p> 작성자 : {{article.user}} </p>
<p> 조회수: {{ article.views }}</p>
<p> 작성일자 : {{article.created_at}} </p>
{% if article.is_answered %}
    <p>답변완료</p>
{% else %}
    <p>답변 대기 중</p>
{% endif %}
<hr>
{% endfor %} {% endcomment %}