{% extends "layout_after_login.html" %}
{% load static %}
{% block title %}질문게시판{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/update.css' %}"/>
<h4 class='update_h4'>수정하기</h4>
<div class='update-container'>
  <form action="{% url 'forum:update' article.pk %}" method="POST" class='update-form'>
    {% csrf_token %}
    <div class='form-group'>
      <label for="{{ form.title.id_for_label }}">제목:</label>
      {{ form.title }}
    </div>
    <div class='form-group'>
      <label for="{{ form.content.id_for_label }}">내용:</label>
      {{ form.content }}
    </div>
    <div class="button-group">
      <input type='submit' class='btn btn-primary' value='수정 완료'>
      <a href="{% url 'forum:read' article.pk %}" class='btn btn-primary'>돌아가기</a>
    </div>
  </form>
</div>
{% endblock content %}
